
<table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Tipo</th>
        <th>Fecha de estreno</th>     
        <th>Cant. de publico</th>
        <th>Foto</th>
        <th>Accion</th>

        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let entidad of peliculas1">
        <td>{{entidad.id}}</td>
        <td>{{entidad.nombre}}</td>
        <td>{{entidad.tipo}}</td>
        <td>{{entidad.fechaDeEstreno}}</td>
        <td>{{entidad.cantPublico}}</td>
        <td> <img [src]="entidad.fotoPelicula" style="width: 30%;"></td>
        <td><button type="button" class="btn btn-info btn-circle"   (click)="mostrar(entidad)" ><i class="fa fa-check"></i>Detalle
        </button></td> 

       
      </tr>
     
    </tbody>
  </table>
