<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Fecha de nac</th>
      <th>Sexo</th>
      <th>Pais</th>
      <th>Foto</th>
      <th>Accion</th>


    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let entidad of actores1">
      <td>{{entidad.id}}</td>
      <td>{{entidad.nombre}}</td>
      <td>{{entidad.apellido}}</td>
      <td>{{entidad.fechaNac}}</td>
      <td>{{entidad.sexo}}</td>
      <td>{{entidad.pais.nombre}}</td>
      <td> <img [src]="entidad.foto" style="width: 30%;"></td>

      <td><button type="button" class="btn btn-info btn-circle" (click)="borrar(entidad)"><i
            class="fa fa-check"></i>Borrar
        </button></td>
      <td><button type="button" class="btn btn-info btn-circle" (click)="mostrar(entidad)"><i
            class="fa fa-check"></i>Detalle
        </button></td>
      <td><button type="button" class="btn btn-info btn-circle" (click)="modificar(entidad)"><i
            class="fa fa-check"></i>Modificar
        </button></td>


    </tr>

  </tbody>
</table>