<body>
<app-menu></app-menu>

  <main role="main">

    <div class="jumbotron">
      <div class="container">
        <app-tablaactores [actores1]="actores" 
          (actorSeleccionadoMostrar)="enviarADetalle($event)"
          (actorSeleccionadoBorrar)="enviarABorrar($event)" 
          (actorSeleccionadoModificar)="enviarAModificar($event)"
          [mostrarAccion] = "true">
        </app-tablaactores>
      </div>
    </div>

    <div class="container">

      <div class="row">
        <app-borrar-actor [actorSeleccionadoBorrar]="actorBorrar" (BorradoDeElemento)="borrar($event)"></app-borrar-actor>
        <app-detalleactor [actorSeleccionadoMostrar]="actorDetalle" (Limpiar)="limpiar($event)"></app-detalleactor>
        <app-modificar-actor [actorSeleccionadoModificar]="actorModificar" (Modificar)="modificar($event)"></app-modificar-actor>
      </div>

      <hr>

    </div>

  </main>

  <footer class="container">
    <p>&copy; Company 2017-2020</p>
  </footer>