<div *ngIf="actorSeleccionadoMostrar" style="border-color: black;border-width: 2px;">
    <p>Nombre: {{actorSeleccionadoMostrar.nombre}} </p>
    <p>Apellido: {{actorSeleccionadoMostrar.apellido}} </p>
    <p>Fecha nac: {{actorSeleccionadoMostrar.fechaNac}} </p>
    <p>Sexo: {{actorSeleccionadoMostrar.sexo}} </p>
    <p>Pais: {{actorSeleccionadoMostrar.pais.nombre}} </p>

    <p>
        <button class="btn btn-primary btn-lg" (click)="limpiar(actorSeleccionadoMostrar)">
            Limpiar
        </button>
    </p>

</div>